{% extends 'master/base.html' %}


{% block content %}
    <h2 class="text-center">book List</h2>
  <a href="{% url 'book_create' %}" class="btn btn-success mb-3">Create book</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Email</th>
      <th scope="col">Description</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    
    {% for book in books %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author_name }}</td>
      <td>{{ book.author_email }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.created_at|date:"Y-m-d H:i" }}</td>
        <td>
            <a href="{% url 'book_detail' book.id %}" class="btn btn-primary btn-sm">View</a>
            <a href="{% url 'book_update' book.id %}" class="btn btn-secondary btn-sm">Edit</a>
            <a href="{% url 'book_delete' book.id %}" class="btn btn-danger btn-sm">Delete</a>
    {% endfor %}
        
    
  </tbody>
</table>
{% endblock content %}
    